@media screen and (max-width:1680px) {
    header .side, body .intro, body .profile, body .contents {padding-left:36px; padding-right:36px;}
    nav {right:60px;}
    .profile .right .list:last-child {margin-left:0;}
    .profile .left {padding-right:0; width:45%; margin:0 auto;}
    .profile .right {padding-left:0; margin:0 auto; width:50%;}
    .profile .left .my_info .photo {height:200px;}
    .contents .contents_wrap a > p span {font-size:1.313rem; transform:translateY(-16px);}
    .contents .contents_wrap a {padding:16px 32px;}
    .contents .contents_wrap a > p em {font-size:4rem;}
    /* web */
    .web_wrap .text h1 {font-size:3.125rem;}
    .web_wrap .text .info > p, .web_wrap .text .info > p span, .web_wrap .text .overview {font-size:0.875rem;}
    .web_wrap .text {padding:0 36px;}
    .web_wrap .text .text_wrap {width:100%;}
}
@media screen and (max-width:1260px){
    /* profile */
    .profile {flex-flow:column nowrap; justify-content:center;}
    .profile .left {display:flex; flex-flow:row nowrap; width:100%; justify-content:space-between;}
    .profile .right {width:100%; height:500px; align-content:space-around; padding-top:25px; justify-content:space-around;}
    .profile .right > * {height:205px; display:flex; flex-flow:column nowrap; align-items:flex-start; justify-content:flex-start;}
    .profile .left .logo_explain .top {display:none;}
    .profile .line {height:1px; width:100%; }
    .profile .left .my_info {margin-bottom:0;}
    .profile .right .list:nth-child(2) {margin:0;}
    /* intro */
    .intro .center > p {font-size:1.35rem;}
    .intro .center .main_logo {height:130px;}
    /* contents 배열 바꾸기 */
    #contents {height:max-content;}
    .contents .contents_wrap {flex-flow:column nowrap;}
    .contents .contents_wrap a {width:100%; height:300px; border-right:0; border-bottom:1px solid #d9d9d9;}
    .contents .contents_wrap a:last-child {border-bottom:0;}
    .contents .contents_wrap a > p:first-child {justify-content:flex-start;}
    .contents .contents_wrap a > p em {margin-right:24px;}
    .contents .contents_wrap a .project_wrap {margin-top:16px;}
    .contents .contents_wrap a .project_wrap > p {font-size:1rem;}
    .contents .contents_wrap a .hover {margin-top:0; top:40%;}
    .contents .contents_wrap a .thum {height:80%; right:30px;}
    .contents .contents_wrap a:nth-child(2) .thum {height:80%;}
    .contents .contents_wrap a:nth-child(3) .thum {height:80%; bottom:36px;}
    .contents .contents_wrap a:last-child .project_wrap video {left:0; width:100%;}
    /* web */
    .web_wrap .text .link > a > span em, .swiper-slide .app_wrap .text .link > a > span em {display:none;}
    .web_wrap .website_link .title_link h2 {font-size:3.75rem;}
    /* app */
    .swiper-slide .app_wrap .text h1 {height:50px;}
    .swiper-slide .app_wrap .text .info > p {font-size:0.875rem;}
    /* graphic */
    .graphic .detail p, .graphic .landing a {width:calc(100% - 200px);}
    .graphic .big_bg .img {max-width:40vw;}
}
@media screen and (max-width:1060px){
    .profile .left .my_info .photo {height:180px;}
    .profile .left .my_info {margin-right:24px;}
    .profile .left .my_info .text > * {font-size:0.875rem; width:145px;}
    .profile .left .my_info .text h1 {font-size:1.25rem;}
    .profile .left .logo_explain > p {font-size:1rem;}
    /* web */
    .web_wrap .text {width:calc(1060px * 0.45);}
    .web_wrap .website_link {}
    /* app */
    .swiper-slide .app_wrap .text {width:60%;}
    #app #app_bg .eclipse {top:50%;}
}
@media screen and (max-width:760px){
    nav > a {margin-bottom:14px;}
    nav > a::after {width:12px; height:12px;}
    header p {font-size:1rem;}
    header .center {display:none;}
    .intro .center > p {font-size:1.125rem;}
    .intro .center .main_logo {height:90px;}
    #profile {height:max-content;}
    .profile .left .logo_explain {display:none;}
    .profile .right {height:max-content;}
    .profile .right > * {height:max-content; margin-bottom:36px;}
    .profile .right .list:nth-child(2) {margin-bottom:36px;}
    /* web */
    .web_wrap .text {width:100%;}
    .web_wrap .website_link {display:none;}
    /* app */
    .swiper-slide .app_wrap {padding:0 36px;}
    .swiper-slide .app_wrap .text, .swiper-slide .app_wrap .thum {width:100%;}
    .swiper-slide .app_wrap .thum {position:absolute; left:-40px;}
    .ux2 .app_wrap .thum {left:20px;}
    #app #app_bg .eclipse {top:70%; transform:scale(2);}
    .swiper-slide .app_wrap .text .text_wrap {width:100%; padding-top:0;}
    .swiper-slide .app_wrap .text {
        background-color:rgba(0,0,0,0.4); border-radius:15px; height:max-content; padding:36px 24px;
    }
    /* graphic */
    .graphic .detail p, .graphic .landing a {width:calc(100% - 60px);}
    .graphic h2 {font-size:3rem;}
    .graphic .big_bg .img {max-width:50%;}
}
@media screen and (max-width:420px){
    body {width:100%; overflow-x:hidden;}
    .profile .left {padding:25px 0; width:100%;}
    .profile .left .my_info .photo {height:110px; margin-right:24px;}
    .web_wrap .text .link > a {padding:6px 12px; margin-right:10px;}
    .web_wrap .text .link > a:last-child {margin:0;}
    .graphic h2 {font-size:1.5rem; margin:120px 0 16px;}
    .contact {height:max-content; padding:36px 0;}
    #app {height:max-content;}
    #app #app_bg {height:100%;}
    .swiper-slide .app_wrap {padding:36px; height:max-content;}
    .swiper-slide .app_wrap .text h1 {height:40px;}
    .ux2 > .app_wrap .text h1 {height:50px;}
    .ux1 .app_wrap .thum {left:-20px;}
    .ux2 .app_wrap .thum {left:0;}
    .swiper-slide .app_wrap .text .info > p {flex-flow:column nowrap;}
    .swiper-slide .app_wrap .text .info > p .txt {width:100%;}
    .graphic .detail p, .graphic .landing a {width:calc(100% - 30px);}
}