/* scroll behavior */
body,html {scroll-behavior:smooth;}
/* 공통 */
body .intro, body .profile, body .contents, body .graphic {height:100vh; max-width:1680px; margin:0 auto;}
/* header */
header {
    position:fixed; left:0; top:0; width:100vw; margin:0 auto;
    padding:60px 0; z-index:99999;
    
}
header p {font-size:1.125rem; color:#BFBFBF; letter-spacing:0.5px; text-transform: uppercase;}
header .center {
    position:absolute; width:100vw; left:0; top:60px;
    text-align:center;
}
header .side {
    display:flex; justify-content:space-between; align-items:center;
    max-width:1680px; margin:0 auto;
}
header .side .left p:last-child {display:none;}
/* nav */
nav {
    height:100%;
    position:fixed; right:120px; bottom:0; z-index:99999;
    display:flex; flex-flow:column nowrap; align-items:flex-end; justify-content:center;
}
nav > a {margin-bottom:16px; display:flex; align-items:center;}
nav > a > span {
    color:#0c0c0c; font-weight:500; margin-right:-24px; opacity:0;
    transition:margin-right 0.3s, opacity 0.3s;
}
nav > a::after {
    content:''; display:inline-block;
    width:16px; height:16px; border:2px solid #0c0c0c; border-radius:50%;
    margin-left:12px; background-color:transparent; transition:background-color 0.3s;
}
nav > a:hover::after {background-color:#0c0c0c;}
nav > a:last-child {margin-bottom:0;}
/* 0. Intro */
.intro {display:flex; justify-content:center;}
.intro .center {
    display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;
}
.intro .center > p {font-size:1.5rem; font-weight:500;}
.intro .center > p em {font-weight:700;}
.intro .center .main_logo {margin:46px 0;}
.intro .scroll {position:absolute; bottom:100px; display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;}
.intro .scroll img:first-child {animation:scroll1 1.2s linear both infinite;}
.intro .scroll img:last-child {animation:scroll2 1.2s 0.2s linear both infinite;}
.intro .scroll img {position:absolute;}
/* 스크롤 애니메이션 */
@keyframes scroll1 {
    0% {top:8px; opacity:0;}
    50% {top:14px; opacity:1;}
    100% {top:20px; opacity:0;}
}
@keyframes scroll2 {
    0% {top:18px; opacity:0;}
    50% {top:24px; opacity:1;}
    100% {top:30px; opacity:0;}
}

/* 1. profile */
.profile {display:flex; align-items:center; padding-top:36px;}
.profile .left {padding:25px 120px 25px 0; border-right:1px solid #D9D9D9;}
.profile .left .my_info {display:flex; align-items:center; margin-bottom:120px;}
.profile .left .my_info .photo {height:250px; border-radius:50%; overflow:hidden; margin-right:60px;}
.profile .left .my_info .photo img {height:100%;}
.profile .left .my_info .text {}
.profile .left .my_info .text > * {line-height:1.7;}
.profile .left .my_info .text h1 {font-size:1.5rem; font-weight:600;}
.profile .left .logo_explain {text-align:center;}
.profile .left .logo_explain .top {display:flex; flex-flow:row nowrap; align-items:center; justify-content:center;}
/* 로고설명 bracket 추가 */
.profile .left .logo_explain .top::before {
    content:''; display:inline-block;
    background-image:url(../images/bracket.svg);
    width:23px; height:182px;
    background-size:cover; background-repeat:no-repeat;
    margin-right:36px;
}
.profile .left .logo_explain .top::after {
    content:''; display:inline-block;
    background-image:url(../images/bracket.svg);
    width:23px; height:182px;
    background-size:cover; background-repeat:no-repeat;
    margin-left:36px; transform:rotate(180deg);
}
.profile .left .logo_explain .top span {font-weight:300; color:#565656; line-height:1.7; margin-top:16px;}
.profile .left .logo_explain .top p img {margin:0 46px; padding-bottom:90px;}
.profile .left .logo_explain div {display:flex; flex-flow:column nowrap; align-items:center;}
.profile .left .logo_explain > p {text-align:center; font-size:1.125rem; font-weight:500; line-height:1.7; margin-top:60px;}
.profile .left .logo_explain > p em {font-weight:700;}
.profile .right {
    padding-left:120px; text-align:left;
    display:flex; flex-flow:column wrap; align-items:flex-start;
    height:570px; justify-content:space-between;
}
.profile .right .list h2 {font-size:1.125rem; font-weight:700; margin-bottom:24px;}
.profile .right .list:nth-child(2) {margin:46px 0;}
.profile .right .list:first-child h2 {margin-top:0;}
.profile .right .list p {line-height:1.7; margin-bottom:4px;}
.profile .right .list p:last-child {margin-bottom:0;}
.profile .right .list p span {font-size:0.875rem; color:#6b6b6b; margin-right:10px;}
.profile .right .list:last-child {margin-left:148px;}
.profile .right .list:last-child .tool {width:239px; display:flex; flex-flow:row wrap; justify-content:flex-start;}
.profile .right .list:last-child .tool p {margin-right:12px;}

/* 2-1. contents */
.contents {padding-top:150px;}
.contents .contents_wrap {display:flex; align-items:flex-start; justify-content:center;}
.contents .contents_wrap a {
    display:inline-block; padding:16px 40px;
    width:calc(100% / 4); height:720px; position:relative;
    transition:background-color 0.5s; border-right:1px solid #D4D4D4;
}
.contents .contents_wrap a > p:first-child {
    color:#0c0c0c; transition:color 0.5s;
    display:flex; justify-content:space-between; align-items:flex-end;
}
.contents .contents_wrap a > p span {font-size:1.625rem; font-weight:600; transform:translateY(-24px);}
.contents .contents_wrap a > p em {font-size:5rem; letter-spacing:-0.2px; font-weight:600;}
.contents .contents_wrap a .project_wrap {margin-top:36px; color:#000; transition:color 0.5s;}
.contents .contents_wrap a .project_wrap > p {font-size:1.125rem; font-weight:500; line-height:1.2; margin-bottom:16px;}
.contents .contents_wrap a .project_wrap > p:last-child {margin-bottom:0;}
.contents .contents_wrap a  .hover {
    position:absolute; left:0; top:0; width:100%;
    text-align:center; margin-top:320px; transition:opacity 0.3s;
}
.contents .contents_wrap a .thum {
    position:absolute; right:0;/* hover-70px */ bottom:28px; height:45%; z-index:999; opacity:0; transition:right ease-out .5s, opacity 0.5s;
}
.contents .contents_wrap a:nth-child(2) .thum {height:60%;}
.contents .contents_wrap a:nth-child(3) .thum {height:50%; bottom:36px;}
.contents .contents_wrap a .thum > img {height:100%;}
.contents .contents_wrap a:last-child {
    background:url(../video/logo_motion.mp4);
    background-position:center; background-size:cover;
    background-repeat:no-repeat; border:0;
    
}

/* 3. web design - granhand */
.web_wrap {display:flex; align-items:center; height:100vh;}
.web_wrap .text {width:40%; height:100vh; display:flex; justify-content:center; align-items:center; background-color:#FDFBF4;}
.web_wrap .text .text_wrap {width:calc(100% - 240px); padding-top:36px;}
.web_wrap .text > p:first-child {font-size:1.125rem; font-weight:500; color:#393939;}
.web_wrap .text h1 {font-size:3.75rem; font-weight:700;}
.web_wrap .text .info {margin:46px 0; color:#393939;}
.web_wrap .text .info > p {margin-bottom:12px; font-weight:600; letter-spacing:-0.2px;}
.web_wrap .text .info > p:last-child {margin-bottom:0;}
.web_wrap .text .info > p span {width:105px; display:inline-block;}
.web_wrap .text .overview {line-height:1.7; word-break:keep-all; color:#626262;}
.web_wrap .text .link {margin-top:46px; display:flex; justify-content:flex-start;}
.web_wrap .text .link > a {
    display:flex; align-items:center; margin-right:16px;
    padding:10px 16px; border-radius:30px; border:1px solid #0c0c0c;
    transition:background-color 0.5s;
}
.web_wrap .text .link > a:hover {
    background-color:rgba(0,0,0,0.1);
}
.web_wrap .text .link > a:last-child {margin:0;}
.web_wrap .text .link > a > span {margin-left:8px; color:#0c0c0c; font-size:0.875rem;}
.web_wrap .text .link > a > span em {font-weight:600;}
/* web-right */
.web_wrap .website_link {width:60%; height:100vh; overflow:hidden; position:relative;}
.web_wrap .website_link .bg {position:relative; display:flex; justify-content:center; align-items:flex-start; height:100vh;}
.web_wrap .website_link .bg img {transform:translate(-160px,-60px);}
.web_wrap .website_link .bg .shadow {
    position:absolute; width:100%; height:100%; background:linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.45)); z-index:50;
}
.web_wrap .website_link .title_link {
    display:flex; flex-flow:column nowrap; align-items:center; justify-content:center;
    position:absolute; left:0; top:0; z-index:100; width:100%;
    padding-top:370px;
}
.web_wrap .website_link .title_link h2 {font-size:5rem; font-weight:700; color:#fff;}
.web_wrap .website_link .title_link > a {
    color:#fff; font-size:1.25rem; font-weight:500;
    display:flex; flex-flow:column nowrap; align-items:center;
    transition:margin-left 0.4s, opacity 0.4s;
}
.web_wrap .website_link .title_link > a:hover {margin-left:20px; opacity:0.8;}
.web_wrap .website_link .title_link > a::after {
    content:''; display:inline-block;
    background-image:url(../images/go_link.png); margin-top:-10px; margin-left:6px;
    background-repeat:no-repeat; width:200px; height:17px; background-size:cover;
}
/* 3. web design - hince */
.web2 .text {background-color:#A36D6A;}
.web2 .text_wrap > p:first-child, .web2 .text .info {color:#DADADA;}
.web2 .text h1 {color:#fff;}
.web2 .text .overview {color:#dcdcdc;}
.web2 .text .link {filter:invert(1); position:relative; z-index:999999;}
.web2 .website_link .bg img {transform:translateY(-28px);}

/* 4. app design - triplens */
#app {position:relative; height:100vh; overflow:hidden;}
#app #app_bg {background-color:#3474EF; height:100vh; position:absolute; width:100vw;}
#app #app_bg .eclipse {position:absolute; left:0; bottom:-16px; opacity:0.2;}
#app .ux-slide {}
.swiper-slide .app_wrap {display:flex; align-items:center; height:100vh; position:relative; overflow:hidden;}
.swiper-slide .app_wrap .thum {position:relative; z-index:50;}
.swiper-slide .app_wrap .text {width:40%; height:100vh; display:flex; justify-content:center; align-items:center; position:relative; z-index:50;}
.swiper-slide .app_wrap .text .text_wrap {width:calc(100% - 120px); padding-top:36px;}
.swiper-slide .app_wrap .text > p:first-child {font-size:1.125rem; font-weight:500; color:#fff;}
.swiper-slide .app_wrap .text h1 {height:70px;}
.swiper-slide .app_wrap .text h1 img {height:100%;}
.swiper-slide .app_wrap .text .info {margin:46px 0; color:#fff;}
.swiper-slide .app_wrap .text .info > p {margin-bottom:12px; font-weight:600; letter-spacing:-0.2px; display:flex; justify-content:flex-start; align-items:flex-start;}
.swiper-slide .app_wrap .text .info > p:last-child {margin-bottom:0;}
.swiper-slide .app_wrap .text .info > p .title {width:105px; display:inline-block; font-weight:300;}
.swiper-slide .app_wrap .text .overview {line-height:1.7; word-break:keep-all; color:#EFEFEF; font-weight:100;}
.swiper-slide .app_wrap .text .link {margin-top:46px; display:flex; justify-content:flex-start; filter:invert(1);}
.swiper-slide .app_wrap .text .link > a {
    display:flex; align-items:center; margin-right:16px;
    padding:10px 16px; border-radius:30px; border:1px solid #0c0c0c;
    transition:background-color 0.5s;
}
.swiper-slide .app_wrap .text .link > a:hover {
    background-color:rgba(0,0,0,0.1);
}
.swiper-slide .app_wrap .text .link > a:last-child {margin:0;}
.swiper-slide .app_wrap .text .link > a > span {margin-left:8px; color:#0c0c0c; font-size:0.875rem;}
.swiper-slide .app_wrap .text .link > a > span em {font-weight:600;}